.NewSkillForm {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: teal;
    text-align: left;
    border: 0.2rem solid rgb(255, 255, 102);
    border-radius: 25px;
    padding: 1rem;
  }
  
  .NewSkillForm > input,
  .NewSkillForm > select {
    font-size: 1rem;
    font-weight: bold;
    color: teal;
    padding: 0.2rem;
    border: 0.2rem solid rgb(255, 255, 102);
    border-radius: 0.3rem;
    outline: none;
    border-radius: 25px;
  }
  
  .NewSkillForm > button {
    grid-column: span 2;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.2rem;
    background-color: teal;
    border: 0.2rem solid teal;
    border-radius: 0.3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .AddSkill {
    background-color: rgb(218, 220, 84);
  }


  form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    width: 20rem;
    text-align: left;
    font-size: 1.5rem;
  }

  .skill, .level {
    color: rgb(255, 255, 102);
  }